* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 10px;
}
.IP {
    font-size: 20px;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}
.flagContainer {
    background-color: rgb(179, 179, 179);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    width: calc(100% / 3 - 25px / 3);
    flex-direction: column;
    gap: 25px;
    font-size: 18px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.flagContainer img {
    width: 30%;
}